
.file_wrapper__kjhgYUJkfg{
    width: 500px;
    /* border: 1px solid #000; */
    background-color: #fff;
    width: 85%;
    border-radius: 8px;
    height: 280px;
    height: auto;
    padding: 10px;
}

.labl{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name{
    display: flex;
    align-items: center;
}

.radio_toggle{
    font-size: 20px;
    color: #444;
}

.file_name{
    font-size: 15px;
    cursor: pointer;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 400;
    color: #111;
    font-family: "Roboto", sans-serif;
}

.file_name:hover{
    cursor: pointer;
    text-decoration: underline;
    
}

.configured_date__{
    color: #444;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.eachitem_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #00f; */
    transition: all .2s ease;
    padding: 6px 2px;
    border-radius: 8px;
    border-bottom: 1px solid #eee;
    margin-bottom: 6px;
}

.eachitem_info:hover{
    background: #f9f9f9;
}

img.teyep{
    height: 30px;
}