html, body{
  margin: 0;
  padding: 0;
  /* background: #bdbdbd;
  background: #e9f0f5;
  background: #f2f0f4; */
  /* background: #ebf3fc; */
  background: #00000005;
}

.structure_algorith__m_PkjhgfdfGHJKkjhgfGJKJgf{
  display: flex;
  
}

.anonymou__s_gTYJHCflkj{
  width: 270px;
  height: 100vh;
}